# Types of Data in Statistics

## 1. Qualitative (Categorical) Data
Data that represents categories or labels.

- **Nominal**: No natural order (e.g., Gender, Color).
- **Ordinal**: Has an order, but no fixed interval (e.g., Rating: Poor, Average, Good).

## 2. Quantitative (Numerical) Data
Data that represents measurable quantities.

- **Discrete**: Countable values (e.g., Number of children, Cars owned).
- **Continuous**: Any value within a range (e.g., Height, Weight, Temperature).

---

## Summary Table

| Type         | Subtype    | Example                 |
|--------------|------------|-------------------------|
| Categorical  | Nominal    | Gender: Male, Female    |
| Categorical  | Ordinal    | Rating: Good, Bad       |
| Numerical    | Discrete   | Number of pets: 1, 2, 3 |
| Numerical    | Continuous | Weight: 65.5 kg         |

In [5]:
import pandas as pd

data = {
    "Name": ["Samrudhi", "Rushikesh", "Mahesh", "Pooja"],
    "Gender": ["Female", "Male", "Male", "Female"],                       # Nominal
    "Education Level": ["Graduate", "Post-Graduate", "Graduate", "PhD"],  # Ordinal
    "Age": [23, 27, 31, 30],                                              # Discrete
    "Weight": [55.5, 72.3, 68.0, 59.2]                                    # Continuous
}

df = pd.DataFrame(data)
df

        Name  Gender Education Level  Age  Weight
0      Priya  Female        Graduate   23    55.5
1  Rushikesh    Male   Post-Graduate   27    72.3
2     Mahesh    Male        Graduate   31    68.0
3      Pooja  Female             PhD   30    59.2

In [7]:
# data numerical
numdata = [ 1, 7, 17, 1717 ]

# character / string
chardata = 'xyz'

# double-quotes also fine
strdata = "x"

# boolean (aka logical)
logitdata = True

listdata = [ [3, 4, 34] , 'hello' , 4 ]

# dict
dictdata = dict()
dictdata['name'] = 'Rushikesh'
dictdata['age'] = 27
dictdata['occupation'] = 'ML Engineer'

dictdata

{'name': 'Rushikesh', 'age': 27, 'occupation': 'ML Engineer'}